<%- include('header') -%>
<main>
  <h1>Express & Typescript</h1>
  <% if (locals.currentUser) { %>
    <h2 class="title">Welcome back <%= currentUser.username %></h1>
    <sl-button href='/logout'>Log out</sl-button>
  <% } else { %>

  <% } %>
</main>
<%- include('footer') -%>