:root {
  --red: rgb(237, 53, 72);
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-image: conic-gradient(from 0deg at 0% 0%, #000000 0%, #362746 100%);
}

header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

nav {
  display: flex;
  gap: 1rem;
}

footer {
  min-height: 1rem;
  margin-top: 1rem;
}

main {
  max-width: 480px;
  margin: 0 auto;
}

.page-title {
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
}

.error-icon,
.check-icon {
  display: none;
}

.error {
  display: none;
  margin-top: 6px;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--red);
}

.active {
  display: block;
}

.active-icon {
  display: inline-flex;
  color: var(--sl-color-success-600);
}

.invalid {
  color: var(--sl-color-danger-600);
}

/* user invalid styles */
.validity-styles sl-input[data-user-invalid]::part(base),
.validity-styles sl-select[data-user-invalid]::part(combobox),
.validity-styles sl-checkbox[data-user-invalid]::part(control) {
  border-color: var(--sl-color-danger-600);
}

.validity-styles [data-user-invalid]::part(form-control-label),
.validity-styles [data-user-invalid]::part(form-control-help-text),
.validity-styles sl-checkbox[data-user-invalid]::part(label) {
  color: var(--sl-color-danger-700);
}

.validity-styles [data-user-invalid]::part(suffix) {
  display: inline-flex;
}

sl-input[data-user-invalid] > sl-icon {
  color: var(--sl-color-danger-600);
}

.validity-styles sl-checkbox[data-user-invalid]::part(control) {
  outline: none;
}

.validity-styles sl-input:focus-within[data-user-invalid]::part(base),
.validity-styles sl-select:focus-within[data-user-invalid]::part(combobox),
.validity-styles sl-checkbox:focus-within[data-user-invalid]::part(control) {
  border-color: var(--sl-color-danger-600);
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-300);
}

/* User valid styles */
.validity-styles sl-input[data-user-valid]::part(base),
.validity-styles sl-select[data-user-valid]::part(combobox),
.validity-styles sl-checkbox[data-user-valid]::part(control) {
  border-color: var(--sl-color-success-600);
}

.validity-styles [data-user-valid]::part(form-control-label),
.validity-styles [data-user-valid]::part(form-control-help-text),
.validity-styles sl-checkbox[data-user-valid]::part(label) {
  color: var(--sl-color-success-700);
}

.validity-styles sl-checkbox[data-user-valid]::part(control) {
  background-color: var(--sl-color-success-600);
  outline: none;
}

.validity-styles sl-input:focus-within[data-user-valid]::part(base),
.validity-styles sl-select:focus-within[data-user-valid]::part(combobox),
.validity-styles sl-checkbox:focus-within[data-user-valid]::part(control) {
  border-color: var(--sl-color-success-600);
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-success-300);
}
