:root {
  --red: rgb(237, 53, 72);
}

body {
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-image: conic-gradient(from 0deg at 0% 0%, #000000 0%, #362746 100%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid var(--sl-color-neutral-200);
}

.logo {
  padding: 0 1rem;
}

nav {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
}

footer {
  min-height: 1rem;
  margin-top: 1rem;
}

.layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  margin: 0 auto;
}

.layout-sidebar {
  background-color: var(--sl-color-neutral);
  padding: 1rem;
  border-right: 1px solid var(--sl-color-neutral-200);
}

.layout-main {
  padding: 1rem;
}

.form-container {
  margin: 0 auto;
  max-width: 380px;
}

sl-tree a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: var(--sl-color-primary-700);
  }
}

sl-tree-item::part(label) {
  font-size: 0.75rem;
}

.breadcrumb-container {
  height: 25px;
}

.page-title {
  display: grid;
  place-items: center;
  margin-bottom: 1rem;
}

.error {
  display: none;
  margin-top: 6px;
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--red);
}

.icon {
  display: inline-flex;
}

.grid-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.grid-row {
  padding: 0 0.75rem;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  align-items: center;
}

.grid-header {
}

.grid-col {
  text-align: left;
}

.col-name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.col-name-icon {
  padding: 0;
  font-size: 1rem;
}

.btn,
input[type='file']::file-selector-button {
  background-color: var(--sl-color-neutral-0);
  border-color: var(--sl-input-border-color);
  height: auto;
  min-height: var(--sl-input-height-medium);
  font-size: var(--sl-button-font-size-medium);
  line-height: calc(var(--sl-input-height-medium) - var(--sl-input-border-width) * 2);
  border-radius: var(--sl-input-border-radius-medium);
  color: var(--sl-color-neutral-700);
  border-style: solid;
  border-width: var(--sl-input-border-width);
  cursor: pointer;
}

.btn:hover,
input[type='file']::file-selector-button:hover {
  background-color: var(--sl-color-primary-50);
  border-color: var(--sl-color-primary-300);
  color: var(--sl-color-primary-700);
}

.btn:focus-visible,
input[type='file']::file-selector-button:focus-visible {
  outline: var(--sl-focus-ring);
  outline-offset: var(--sl-focus-ring-offset);
}

.btn:active,
input[type='file']::file-selector-button:active {
  background-color: var(--sl-color-primary-100);
  border-color: var(--sl-color-primary-400);
  color: var(--sl-color-primary-700);
}

.card-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 0.25rem;
}

.card-btn {
  width: 100%;
  display: flex;
}

sl-button.card-btn::part(label) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
}

/* sl-button.card-btn {
  min-width: 110px;
  min-height: 80px;
  --sl-input-height-medium: 80px;
} */

/* sl-button.card-btn::part(base) {
  min-height: 80px;
} */

.card-overview {
  min-width: 110px;
  max-height: 80px;
  font-size: 0.75rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.login-input::part(form-control-label)::after {
  content: '';
}

/* Mostly base button styles from Shoelace since they have no file input support yet */
input[type='file']::file-selector-button {
  margin-right: 1rem;
  display: inline-flex;
  align-items: stretch;
  justify-content: center;
  width: 50%;
  padding: 2rem;
  font-family: var(--sl-input-font-family);
  font-weight: var(--sl-font-weight-semibold);
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0;
  cursor: pointer;
}

/* user invalid styles */
.validity-styles sl-input[data-user-invalid]::part(base),
.validity-styles sl-select[data-user-invalid]::part(combobox),
.validity-styles sl-checkbox[data-user-invalid]::part(control) {
  border-color: var(--sl-color-danger-600);
}

.validity-styles [data-user-invalid]::part(form-control-label),
.validity-styles [data-user-invalid]::part(form-control-help-text),
.validity-styles sl-checkbox[data-user-invalid]::part(label) {
  color: var(--sl-color-danger-700);
}

.validity-styles [data-user-invalid]::part(suffix) {
  display: inline-flex;
}

sl-input[data-user-invalid] > sl-icon {
  color: var(--sl-color-danger-600);
}

sl-input[data-user-valid] > sl-icon {
  color: var(--sl-color-success-600);
}

.validity-styles sl-checkbox[data-user-invalid]::part(control) {
  outline: none;
}

.validity-styles sl-input:focus-within[data-user-invalid]::part(base),
.validity-styles sl-select:focus-within[data-user-invalid]::part(combobox),
.validity-styles sl-checkbox:focus-within[data-user-invalid]::part(control) {
  border-color: var(--sl-color-danger-600);
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-300);
}

/* User valid styles */
.validity-styles sl-input[data-user-valid]::part(base),
.validity-styles sl-select[data-user-valid]::part(combobox),
.validity-styles sl-checkbox[data-user-valid]::part(control) {
  border-color: var(--sl-color-success-600);
}

.validity-styles [data-user-valid]::part(form-control-label),
.validity-styles [data-user-valid]::part(form-control-help-text),
.validity-styles sl-checkbox[data-user-valid]::part(label) {
  color: var(--sl-color-success-700);
}

.validity-styles sl-checkbox[data-user-valid]::part(control) {
  background-color: var(--sl-color-success-600);
  outline: none;
}

.validity-styles sl-input:focus-within[data-user-valid]::part(base),
.validity-styles sl-select:focus-within[data-user-valid]::part(combobox),
.validity-styles sl-checkbox:focus-within[data-user-valid]::part(control) {
  border-color: var(--sl-color-success-600);
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-success-300);
}

sl-dialog {
  --width: 28rem;
}

sl-dialog sl-button {
  float: right;
}

sl-input::part(form-control-label) {
  margin-bottom: 0.25rem;
}

.active {
  display: block;
}

.hidden {
  display: none;
}

:not(:defined) {
  visibility: hidden;
}
